@import url(https://fonts.googleapis.com/css?family=Anonymous+Pro);

body {
  --bkg-color: #fff;
}
body.dark-theme {
  --bkg-color: #000;
}
a:hover,
.btn:hover > i,
.btn:hover > b {
  --text-color: #000;
}
.dark-theme a:hover,
.dark-theme .btn:hover > i,
.dark-theme .btn:hover > b {
  --text-color: #fff;
}

@media (prefers-color-scheme: dark) {
  body {
    --bkg-color: #000;
  }
  body.light-theme {
    --bkg-color: #fff;
  }
  a:hover,
  .btn:hover > i,
  .btn:hover > b {
    --text-color: #fff;
  }
  .light-theme a:hover,
  .light-theme .btn:hover > i,
  .light-theme .btn:hover > b {
    --text-color: #000;
  }
}

* {
  color: #777;
  text-decoration: none !important;
  text-align: center;
  font-family: "Anonymous Pro", monospace;
}
body {
  background: var(--bkg-color);
  transition: background 1s;
  cursor: crosshair;
}
a {
  color: #777;
}
a:hover,
.btn:hover > i,
.btn:hover > b {
  color: var(--text-color);
}
.btn-check:focus + .btn,
.btn:focus {
  box-shadow: none;
}

/* navbar */
.navbar,
.nav-link {
  color: #777;
}
.navbar,
.navbar button:focus {
  border: none;
  box-shadow: none;
}
.nav-link:hover,
.nav-link:focus {
  color: var(--text-color);
}

/* hamburger */
.hamburger .line {
  width: 20px;
  height: 2px;
  background-color: #777;
  display: block;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.hamburger:hover {
  cursor: pointer;
}
#hamburger-1.is-active .line:nth-child(2) {
  opacity: 0;
}
#hamburger-1.is-active .line:nth-child(1) {
  -webkit-transform: translateY(7px) rotate(45deg);
  -ms-transform: translateY(7px) rotate(45deg);
  -o-transform: translateY(7px) rotate(45deg);
  transform: translateY(7px) rotate(45deg);
}
#hamburger-1.is-active .line:nth-child(3) {
  -webkit-transform: translateY(-7px) rotate(-45deg);
  -ms-transform: translateY(-7px) rotate(-45deg);
  -o-transform: translateY(-7px) rotate(-45deg);
  transform: translateY(-7px) rotate(-45deg);
}