@import url(https://fonts.googleapis.com/css?family=Anonymous+Pro);

body {
  --bkg-color: #fff;
}
body.dark-theme {
  --bkg-color: #000;
}
a:hover {
  --text-color: #000;
}
.dark-theme a:hover {
  --text-color: #fff;
}

@media (prefers-color-scheme: dark) {
  body {
    --bkg-color: #000;
  }
  body.light-theme {
    --bkg-color: #fff;
  }
  a:hover {
    --text-color: #fff;
  }
  .light-theme a:hover {
    --text-color: #000;
  }
}

* {
  color: #666666;
  text-decoration: none !important;
  text-align: center;
  font-family: "Anonymous Pro", monospace;
}
body {
  background: var(--bkg-color);
}
a {
  color: #666666;
}
a:hover {
  color: var(--text-color);
}
.btn-check:focus + .btn,
.btn:focus {
  box-shadow: none;
}
